#content {
    background-color: rgb(135, 136, 136);
}

.heading {
    color: black;
    padding: 5px;
    border-bottom: 1px solid white;
    text-align: center;
}
.title {
    color: white;
    font-style: italic;
    background-color: rgb(104, 153, 104);
    text-align: right;
    padding-right: 10px;
}
.description {
    font-weight: 300;
    color: white;
    text-align: center;
}