.right1, .right2{
    position: absolute;
    z-index: 10;
}

.left1, .left2{
    position: absolute;
    z-index: 10;
}

.container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background{
    width: 100%;
    display: block;
}

.right1{
    left: -250px;
    width: 200px;
    bottom: 30px;
    animation: moveRight1 7s linear 1s infinite;
}

.right2{
    left: 200px;
    width: 250px;
    bottom: 1px;
    animation: moveRight2 5s linear 2s infinite;
}

.left1{
    right: -250px;
    width: 200px;
    bottom: 40px;
    animation: moveLeft1 3s linear 5s infinite;
}

.left2{
    right: 200px;
    width: 130px;
    bottom: 10px;
    animation: moveLeft2 5s linear 1s infinite;
}

@keyframes moveRight1{
    0%{
        left: -250px;
    }
    100%{
        left: 100%;
    }
}

@keyframes moveLeft1{
    0%{
        right: -250px;
    }
    100%{
        right: 100%;
    }
}
@keyframes moveRight2{
    0%{
        left: -250px;
    }
    100%{
        left: 100%;
    }
}

@keyframes moveLeft2{
    0%{
        right: -250px;
    }
    100%{
        right: 100%;
    }
}